<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
<script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
<div id="SkypeButton_Chat_r351574nc3_1">
  <script type="text/javascript">
    Skype.ui({
      "name": "chat",
      "element": "SkypeButton_Chat_r351574nc3_1",
      "participants": ["r351574nc3"],
      "imageSize": 24
    });
  </script>
</div>
{% include JB/sharing %}
</div>

<div class="row">
  <div class="span14">
    {{ content }}
  </div>
</div>
